<div class="divider">
  <div class="navbar-fixed-bottom">
    <div class="global-footer">
       <h5 class="footer"><b>Tip To Toe Nails</b></h5>
       <h5 class="footer">(987) 654-3210</h5>
       <h5 class="footer">Denver, CO</h5>
    </div>
  </div>
</div>
